{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
  <p>
  <h2>Стек технологий проекта</h2>
  </p>
  {% comment %}
    Боковой блок со списком технологий 
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  {% comment %}
    Статья  
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
  {% endcomment %}
  <article class="col-12 col-md-9">
    <p>Проект написан на языке Python с использованием фреймворка Django.<br>
      Это социальная сеть для публикации личных дневников, она дает возможность публиковать
       записи, подписываться на авторов и комментировать их заметки.<br>
        Реализована система управления пользователями: доступна авторизация после регистрации,
        восстановление пароля по email.<br>
        Проект хранит данные в базе данных используя драйвер SQLite. Взаимодействие с базой
        происходит посредством Django ORM.<br>
        Спроектирован REST API инструментами Django REST Framework
    </p>
  </article>
</div>
{% endblock %}