{% load static %}
<header>
  <nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand" href="{% url 'posts:index' %}">
        <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        <span style="color:red">Ya</span>tube
      </a>
      {% with request.resolver_match.view_name as view_name %}
 
      {% comment %}
      Меню - список пунктов со стандартными классами Bootsrap.
      Класс nav-pills нужен для выделения активных пунктов 
      {% endcomment %}
      <ul class="nav nav-pills">
        <li class="nav-item"> 
                <form class="form-inline" action="/">
                  <div class="form-row">
                  <input name="q" class="form-control form-control-sm" style="background-color:lightskyblue" type="search" 
                    placeholder="Поиск" {% if keyword %}value="{{ keyword }}"{% endif %}>
                  <!--<button class="btn" type="submit">Найти</button>-->
                  </div>
                </form>
        </li>
        <li class="nav-item"> 
          <a class="nav-item nav-link
          {% if view_name == 'about:author' %}active{% endif %}"
          href="{% url 'about:author' %}">Об авторе</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if view_name == 'about:tech' %}active{% endif %}"
          href="{% url 'about:tech' %}">Технологии</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item"> 
          <a class="nav-link {% if view_name == 'posts:post_create' %}active{% endif %}"
          href="{% url 'posts:post_create' %}">Новая запись</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link
          {% if view_name == 'users:password_change_form' %}active{% endif %}"
          href="{% url 'users:password_change_form' %}">
            Изменить пароль</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link" href="{% url 'users:logout' %}">
            Выйти</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:red" href="{% url 'posts:my_profile' %}">
            {{ user.username }}
           </a>
        </li>
        {% else %}
        <li class="nav-item"> 
          <a class="nav-link link-light" href="{% url 'users:login' %}">Войти</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link link-light
          {% if view_name == 'users:signup' %}active{% endif %}"
          href="{% url 'users:signup' %}">Регистрация</a>
        </li>
        {% endif %}
      </ul>
      {% endwith %}
      {# Конец добавленого в спринте #}
    </div>
  </nav>      
</header>